{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="mb-3">Најава</h4>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="email" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Лозинка</label>
            <input class="form-control" type="password" name="password" required>
          </div>
          <button class="btn btn-primary">Login</button>
          <a class="btn btn-link" href="{{ url_for('ui_register_get') }}">Регистрација</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
